/* Basic reset for styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    height: 10vh;
    background: #fff;
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    z-index: 90;
    position: relative;
    box-shadow: 0 2px 5px rgba(97, 105, 114, 1);
}

nav ul {
    list-style: none;
    background: #141414;
    text-align: center;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav ul li a:hover {
    background: #444;
    transition: background-color 0.3s;
}

main {
    height: 100%;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    background: #F4F4F4;
}

section {
    height: 100%;
    min-height: 85vh;
    width: 60vw;
    padding: 1rem 5vw;
    background-color: #f4f4f4;
    box-shadow: 0 2px 10px rgba(97, 105, 114, 0.3);

    }

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    /* Ensures images are responsive and don't stretch */
}

figcaption {
    font-size: 14px;
}

.photographer {
    opacity: 0.5;
}

.menuContainer {
    background-color: #E7D6E8;
    padding: 1rem;
    border-radius: 15px;
}

@media screen and (max-width: 1200px) {
    section {
        width: 70vw;
    }
}

@media screen and (max-width: 600px) {
    nav ul li {
        display: block;
        /* Stack the navigation items under each other on small screens */
    }

    section {
        width: 100vw;
    }
}
  
  